<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link href="~/libs/bootstrap/css/bootstrap.min.css"/>
    <link href="~/libs/font-awesome/css/font-awesome.min.css"/>
    <link href="~/libs/admin-lte/css/AdminLTE.min.css"/>
    <link href="~/libs/admin-lte/css/skins/_all-skins.css"/>
    <link href="~/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css"/>
    @await RenderSectionAsync("css", required: false)
    <title>@ViewData["Title"] - DashBoard</title>
</head>
<body>
@RenderBody()
<script src="~/libs/jquery/jquery.min.js"></script>
<script src="~/libs/bootstrap/js/bootstrap.js"></script>
<script src="~/libs/admin-lte/js/adminlte.js"></script>
<script src="~/libs/fastclick/fastclick.min.js"></script>
<script src="~/libs/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="~/libs/jquery-validate/jquery.validate.min.js"></script>
<script src="~/libs/jquery-validate-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>