<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>空白页</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="~/AdminLTE-Iframe/plugin/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="~/AdminLTE-Iframe/plugin/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="~/AdminLTE-Iframe/plugin/Ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="~/AdminLTE-Iframe/adminlte/css/AdminLTE.min.css">
  <link rel="stylesheet" href="~/AdminLTE-Iframe/adminlte/css/skins/all-skins.min.css">
  <link rel="stylesheet" href="~/AdminLTE-Iframe/system/css/common.css" />
</head>
<body class="hold-transition sidebar-mini gray-bg">
<div class="wrapper">
	<section class="content">
		@RenderBody()
	</section>
	<div class="control-sidebar-bg"></div>
</div>
<script src="~/AdminLTE-Iframe/plugin/jquery/jquery.min.js"></script>
<script src="~/AdminLTE-Iframe/plugin/bootstrap/js/bootstrap.min.js"></script>
<script src="~/AdminLTE-Iframe/plugin/fastclick/fastclick.js"></script>
<script src="~/AdminLTE-Iframe/adminlte/js/adminlte.min.js"></script>
<script src="~/AdminLTE-Iframe/system/js/common.js"></script>
</body>
</html>