<aside class="main-sidebar">
<section class="sidebar">

<ul class="sidebar-menu" data-widget="tree">
    <li class="treeview menu-open">
        <a class="J_menuItem noactive" href="./views/main.html">
            <i class="fa fa-home"></i> <span class="nav-label">系统首页</span>
        </a>
        <ul class="treeview-menu"></ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i>
            <span>主页示例</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a class="J_menuItem" href="./views/index/index v1.html"><i class="fa fa-circle-o"></i> 主页示例一</a>
            </li>
            <li>
                <a class="J_menuItem" href="./views/index/index v2.html"><i class="fa fa-circle-o"></i> 主页示例二</a>
            </li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i>
            <span>通用元素</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a class="J_menuItem" href="./views/general/general.html"><i class="fa fa-circle-o"></i> 基本元素</a>
            </li>
            <li>
                <a class="J_menuItem" href="./views/general/icons.html"><i class="fa fa-circle-o"></i> 图标元素</a>
            </li>
            <li>
                <a class="J_menuItem" href="./views/general/buttons.html"><i class="fa fa-circle-o"></i> 按钮元素</a>
            </li>
            <li>
                <a class="J_menuItem" href="./views/general/timeline.html"><i class="fa fa-circle-o"></i> 时间轴线</a>
            </li>
            <li>
                <a class="J_menuItem" href="./views/general/modals.html"><i class="fa fa-circle-o"></i> 提示信息</a>
            </li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i>
            <span>表单元素</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a class="J_menuItem" href="./views/form/layer.html"><i class="fa fa-circle-o"></i> 弹窗控件</a>
            </li>
            <li>
                <a class="J_menuItem" href="./views/form/laydate.html"><i class="fa fa-circle-o"></i> 日期选择</a>
            </li>
            <li>
                <a class="J_menuItem" href="./views/form/general.html"><i class="fa fa-circle-o"></i> 通用表单</a>
            </li>
            <li>
                <a class="J_menuItem" href="./views/form/advanced.html"><i class="fa fa-circle-o"></i> 高级表单</a>
            </li>
            <li>
                <a class="J_menuItem" href="./views/form/upload.html"><i class="fa fa-circle-o"></i> 文件上传</a>
            </li>
            <li>
                <a class="J_menuItem" href="./views/form/jasny.html"><i class="fa fa-circle-o"></i> jasny控件</a>
            </li>
            <li>
                <a class="J_menuItem" href="./views/form/editors.html"><i class="fa fa-circle-o"></i> 富文本控件</a>
            </li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i>
            <span>表格元素</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a class="J_menuItem" href="./views/tables/simple.html"><i class="fa fa-circle-o"></i> 基础表格</a>
            </li>
            <li>
                <a class="J_menuItem" href="./views/tables/bootstraptable.html"><i class="fa fa-circle-o"></i> bootstraptable</a>
            </li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i>
            <span>统计图表</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a class="J_menuItem" href="./views/echarts/echarts.html"><i class="fa fa-circle-o"></i> Echarts</a>
            </li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i>
            <span>图片查看</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a class="J_menuItem" href="./views/lightbox/lightbox.html"><i class="fa fa-circle-o"></i> lightbox</a>
            </li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i>
            <span>表单向导</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a class="J_menuItem" href="./views/step/jquery-step.html"><i class="fa fa-circle-o"></i>JQuerySteps</a>
            </li>
            <li>
                <a class="J_menuItem" href="./views/step/smartwizard.html"><i class="fa fa-circle-o"></i>Smartwizard</a>
            </li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i>
            <span>日历控件</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a class="J_menuItem" href="./views/fullcalendar/fullcalendar.html"><i class="fa fa-circle-o"></i> fullcalendar</a>
            </li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-files-o"></i>
            <span>错误页面</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a class="J_menuItem" href="./views/404.html"><i class="fa fa-circle-o"></i> 404页面</a>
            </li>
            <li>
                <a class="J_menuItem" href="./views/500.html"><i class="fa fa-circle-o"></i> 500页面</a>
            </li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-files-o"></i>
            <span>demo页面</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a class="J_menuItem" href="./views/login/login.html"><i class="fa fa-circle-o"></i> 登录页面</a>
            </li>
            <li>
                <a class="J_menuItem" href="./views/blank.html"><i class="fa fa-circle-o"></i> 空白页面</a>
            </li>
        </ul>
    </li>
</ul>
</section>
</aside>